


.logo img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 28%;
  position: relative;
  top: 160px;
  left: 4px;
  
}


.topnav a {
  float: left;
  color:black;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding: 13px 11px;
  text-decoration: none;
  font-size: 14px;
  position: relative;
  top: -265px;
}

.topnav-right {
  float: right;
  position: relative;
  right: 100px;
  
}

.topnav a:hover{
  text-decoration: underline;
}

.botnavbar a {
  float: left;
  color:grey;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding: 13px 15px;
  text-decoration: none;
  font-size: 14px;
  position: relative;
  top: 647px;
  right: 101px;
}

.botnav-mid {
  float: none;
  position: absolute;
  left: 50%;
  top: 275px;
}

.Botnav-right {
  float: right;
  position: relative;
  left: 220px;
  
}

.botnavbar a:hover{
  text-decoration: underline;
}
