


.logo img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 28%;
  position: relative;
  top: 160px;
  left: 4px;
  
}


.topnav a {
  float: left;
  color:black;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding: 13px 11px;
  text-decoration: none;
  font-size: 14px;
  position: relative;
  top: -265px;
}

.topnav-right {
  float: right;
  position: relative;
  right: 100px;
  
}

.topnav a:hover{
  text-decoration: underline;
}

.botnavbar a {
  float: left;
  color:grey;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding: 13px 15px;
  text-decoration: none;
  font-size: 14px;
  position: relative;
  top: 647px;
  right: 101px;
}

.botnav-mid {
  float: none;
  position: absolute;
  left: 50.5%;
  top: 275px;
}

.Botnav-right {
  float: right;
  position: relative;
  left: 220px;
  
}

.botnavbar a:hover{
  text-decoration: underline;
}

hr.solid {
  border-bottom: rgb(167, 163, 161);
  position: relative;
  top: 602px;
  width: 105%;
  opacity: 0.3;
}

.header {
  float: left;
  color:grey;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding: 15px 30px;
  text-decoration: none;
  font-size: 15px;
  position: relative;
  top: 547px;
  right: 8px;
}

.text_input input[type="text"] {
  position: absolute;
  font-size: 20px;
  border:1px solid;
  border-color: rgb(167, 163, 161) ;
  opacity: 0.28;
  border-radius:25px;
  padding: 5px;
  width: 29.5%;
  outline: none;
  top: 377px;
  left: 680px;
  height: 34px;
  
}

.text_input input:hover {
  border-bottom: 2.5px solid;
  border-color: rgb(167, 163, 161);
  opacity: 0.3;
  border-radius: 25px;
  border-left: 2.5px solid;
  border-color: rgb(167, 163, 161);
  opacity: 0.3;
  border-radius: 25px;
  border-right: 2.5px solid;
  border-color: rgb(167, 163, 161);
  opacity: 0.3;
  border-radius: 25px;
  border-top: 0.1px solid;
  border-top-color: white;
  opacity: 0.3;
  border-radius: 25px;

}

.search_box input[type="submit"] {
  cursor: pointer;
  text-align: center;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  position: absolute;
  left: 51%;
  transform: translateX(-130%);
  margin: 320px 0;
  padding:10px 10px;
  border-radius: 5px;
  text-decoration: none;
  background-color: white;
  border: none;
  top: 130px;
}

.search_box input:hover {
 border: 1px solid;
  border-color: rgb(212, 210, 209);
  background-color: none;

}

.lucky input[type="submit"]{
  cursor: pointer;
  text-align: center;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  position: absolute;
  left: 49%;
  transform: translateX(20%);
  margin: 320px 0;
  padding: 10px 10px;
  text-decoration: none;
  background-color: white;
  border: none;
  top: 130px;
  
}

.lucky input:hover {
  border: 1px solid;
   border-color: rgb(212, 210, 209);
   background-color: none;
 
 }

.mic {
  cursor: pointer;
  height: 14px;
  width: 14px;
  position: absolute;
  right: 687px;
  top: 388px;
}

/* Tooltip text */
.mic .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  width: 100px;
  top: 100%;
  left: 50%;
  margin-left: -50px;
}

/* Show the tooltip text when you mouse over the tooltip container */
.mic:hover .tooltiptext {
  visibility: visible;
}

.mic .tooltiptext::after {
  content: " ";
  position: absolute;
  bottom: 100%;  /* At the top of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

.mag {
  float: left;
  position: absolute;
  right:520px;
  bottom: -10px;
}

.leaf {
  cursor: pointer;
  position: absolute;
  right: 360px;
  top: 538px;

}