


.logo img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 28%;
  position: relative;
  top: 160px;
  left: 4px;
  
}


.topnav a {
  float: left;
  color:black;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding: 13px 11px;
  text-decoration: none;
  font-size: 14px;
  position: relative;
  top: -265px;
}

.topnav-right {
  float: right;
  position: relative;
  right: 100px;
  font-size: 14px !important;
  
}

.topnav a:hover{
  text-decoration: underline;
}

.botnavbar a {
  float: left;
  color:grey;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding: 13px 15px;
  text-decoration: none;
  font-size: 14px;
  position: relative;
  top: 647px;
  right: 101px;
}

.botnav-mid {
  float: none;
  position: absolute;
  left: 50.5%;
  top: 275px;
}

.Botnav-right {
  float: right;
  position: relative;
  left: 220px;
  
}

.botnavbar a:hover{
  text-decoration: underline;
}

hr.solid {
  border-bottom: rgb(167, 163, 161);
  position: relative;
  top: 602px;
  width: 100%;
  opacity: 0.3;
}

.header {
  float: left;
  color:grey;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding: 15px 30px;
  text-decoration: none;
  font-size: 15px;
  position: relative;
  top: 547px;
  right: 8px;
}

.text_input input[type="text"] {
  position: absolute;
  font-size: 20px;
  border:1px solid;
  border-color: rgb(167, 163, 161) ;
  opacity: 0.28;
  border-radius:25px;
  padding: 5px;
  width: 29.5%;
  outline: none;
  top: 377px;
  left: 680px;
  height: 34px;
  
}

.text_input input:hover {
  border-bottom: 2.5px solid;
  border-color: rgb(167, 163, 161);
  opacity: 0.3;
  border-radius: 25px;
  border-left: 2.5px solid;
  border-color: rgb(167, 163, 161);
  opacity: 0.3;
  border-radius: 25px;
  border-right: 2.5px solid;
  border-color: rgb(167, 163, 161);
  opacity: 0.3;
  border-radius: 25px;
  border-top: 0.05px solid;
  border-top-color: white;
  opacity: 0.3;
  border-radius: 25px;

}

.search_box input[type="submit"] {
  cursor: pointer;
  text-align: center;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  position: absolute;
  left: 50%;
  transform: translateX(-130%);
  margin: 320px 0;
  padding:10px 10px;
  border-radius: 5px;
  text-decoration: none;
  background-color: white;
  border: none;
  top: 130px;
}

.lucky input[type="submit"]{
  cursor: pointer;
  text-align: center;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  position: absolute;
  left: 50%;
  transform: translateX(20%);
  margin: 320px 0;
  padding: 10px 10px;
  text-decoration: none;
  background-color: white;
  border: none;
  top: 130px;
  
}

.mic {
  cursor: pointer;
  height: 14px;
  width: 14px;
  position: absolute;
  right: 687px;
  top: 388px;
}

.mag {
  position: absolute;
  left: 698px;
  top: 393px;
}